# Mise Configurations
# --------------------
**/.mise.toml
**/.mise.*.toml
**/.mise/*
**/.tool-versions
**/.mise*.toml

# Cache files
# --------------------
**/.cache

# Direnv Configurations
# ----------------------
**/.env
**/.envrc
**/.envrc.toml

# Editor Configurations
# ----------------------
**/.idea/*
**/*.sublime-project
**/*.sublime-workspace
