# 1Password SSH Agent
# Copy this file to "1password" and uncomment the line for your platform:
#   cp ~/.ssh/config.d/1password.example ~/.ssh/config.d/1password
#
# Linux:
# Host *
#   IdentityAgent ~/.1password/agent.sock
#
# macOS:
# Host *
#   IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
