init-author-email=ani.aggarwal@mail.utoronto.ca
init-author-name="Ani Aggarwal"

prefer-offline=true

editor=nvim
script-shell=/bin/zsh
sign-git-commit=true

cache=~/.cache/pip_cache
# cafile is the path to the certificate file (also can set NODE_EXTRA_CA_CERTS env variable instead)
# cafile=/usr/local/share/ca-certificates/cacert.pem